In [2]:
import pandas as pd
import config

In [3]:
# load population dataset, need to check max/min values
# for latitude and longitude columns
population_data = pd.read_csv(config.population_csv)
max_lat = population_data["lat"].max()
min_lat = population_data["lat"].min()
max_lng = population_data["lng"].max()
min_lng = population_data["lng"].min()

In [4]:
# load locallinks stop data.
# filter to only include stops within range of latitude/longitude
locallink_stops = pd.read_csv(f"{config.locallink_data_path}/stops.txt")
locallink_stops.head()

        stop_id                           stop_name   stop_lat  stop_lon
0   7000B158241  Derry (Magee Campus Strand Road) 1  55.004476 -7.321782
1     821000001                        Green Lane 1  52.841907 -6.916965
2     821000002                        Green Lane 2  52.841728 -6.916984
3  8210B3355701     Carlow, Carlow Coach Park ->SW2  52.833629 -6.926847
4   8210B351711                      Lucy Nolan's 1  52.740188 -6.770400

In [5]:
donegal_stops = locallink_stops[(locallink_stops["stop_lat"] >= min_lat) &
                                (locallink_stops["stop_lat"] <= max_lat) &
                                (locallink_stops["stop_lon"] >= min_lng) &
                                (locallink_stops["stop_lon"] <= max_lng)]
pd.set_option('display.max_rows', 15)
donegal_stops
# there are unexpected stops returned. e.g Derry, Magee Campus
# cross check stops with stop times data

,stop_id,stop_name,stop_lat,stop_lon
0,7000B158241,Derry (Magee Campus Strand Road) 1,55.004476,-7.321782
630,853000002,Portsalon 2,55.205555,-7.636540
631,853000004,"Arryheernabin, Fanad Lighthouse 1",55.276113,-7.632418
632,853000007,Falcarragh 1,55.136505,-8.104273
633,853000009,Fintown 1,54.868210,-8.124345
...,...,...,...,...
868,gen:57402:8177:0:1,"Buncrana, Buncrana 1",55.136192,-7.456586
869,gen:57402:8178:0:1,"Tir Na Sligo, Tiernasligo National School 1",55.269323,-7.497034
870,gen:57402:8179:0:1,"Straid (Donegal), Waterfall 1",55.267925,-7.436002
871,gen:57402:8224:0:1,"Bridge End, 19th Hole Bar 1",55.044388,-7.381098
872,gen:57403:7923:0:1,"Knockatallon, Knockatallon 1",54.509393,-7.224587

In [6]:
len(donegal_stops)

162

In [7]:
# save to csv for manual removal of stops not in Donegal
donegal_stops.to_csv(f"{config.locallink_data_path}/donegal_stops_for_manual_review.csv")

In [9]:
# removed derry stops
updated_donegal_stops = pd.read_csv(f"{config.locallink_data_path}/donegal_stops_updated.csv")
len(updated_donegal_stops)
# ready to find closest nodes on road network graph to add LL labels

160